.container-style{
  height: 100%;
  position: absolute;
}
.row-style{
  height: 100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-content:center;
}
button{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.animation{
  animation:ripple 1.5s infinite;
  animation-direction: alternate;
}


@keyframes ripple{
  0%{
      opacity:1;
  }
  100%{
      opacity:0.5;
  }
}
